@import url(https://fonts.googleapis.com/css?family=Raleway);


.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
body{
  background-color: #99CCFF;
}
h1{
  font-family: 'Raleway';
}

h2{
    font-family: 'Raleway';
}
.text{
  font-family: 'Raleway';
}
.nav, .btn, .btn-primary{
  background-color: #FFFF66;
  font-family: 'Raleway';
  color: #808080;
  padding-left: 3px;

}
