@import url(https://fonts.googleapis.com/css?family=Raleway);


.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
body{
  background-color: #99CCFF;
}
h1{
  font-family: 'Raleway';
  color: #808080;
  background-color: #FFFF99;
  padding: 40px;
  text-align: center;
}

h2{
    font-family: 'Raleway';
    color: #606060;
    background-color: #9999FF;
    padding: 20px;
}
h4{
  font-family: 'Raleway';
  font-weight: bold;
}

.text{
  font-family: 'Raleway';
  font-weight: bold;
  padding-top: 20px;
}

.image{
  padding-top: 20px;
}

.video{
  padding-top: 20px;
}

.nav{
  background-color:#FFFF66;
  font-family: 'Raleway';
  color: #808080;
  font-weight: bold;
  display: block;
}

.nav1{
  background-color:#FFFF66;
  font-family: 'Raleway';
  color: #808080;
  font-weight: bold;
  display: block;
  float: right;
}
.menu{
  background-color: #FFFF66;
  padding: 15px;
}
