<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h1> Katie In The Kitchen</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <a href="index.html" class="nav">Home</a>
    </div>
          <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <a href="apps.html" class="nav">Appetizer</a>
        </div>
        <div class="col-md-3">
          <a href="dinner.html" class="nav">Main Dish</a>
        </div>
        <div class="col-md-3">
          <a href="dessert.html" class="nav">Dessert</a>
        </div>
        <div class="col-md-3">
          <a href="drinks.html" class="nav">Drinks</a>
        </div>
      </div>
    </div>
        <div class="col-md-2">
          <a href="https://twitter.com/katiemae0611" class="nav">Tweet Me!</a>
        </div>
    </div>

  {{ content }}


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
