<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h1> Katie In The Kitchen</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <a href="simple_app.html" class="btn btn-primary">Home</a>
    </div>
          <div class="col-md-6 col-md-offset-1">
            Menu
        </div>
        <div class="col-md-2 col-md-offset-1">
          social
        </div>
        </div>
    <div class="row">
      <div class="col-md-6">
  {{ content }}
</div>
</div>
</div>
</body>
</html>
